 #but{
    background-color: rgb(184, 184, 63);
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding: 10px;
    padding-left: 10px;
    text-: azure;

 };